<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="title">Usability Run</h1>
      <p class="slogan">Keep it simple.</p>
      <p class="links">
        <a href="index.html">Home</a>
        <a href="contact.html">Contact</a>
        <a href="register.html">Register</a>
      </p>
      <ul class="inline-list social">
        <a href="https://www.facebook.com/eff/"><i class="fi-social-facebook"></i></a>
        <a href="https://twitter.com/RonWyden"><i class="fi-social-twitter"></i></a>
        <a href="https://www.instagram.com/instagram/"><i class="fi-social-instagram"></i></a>
      </ul>
      <p class="copywrite">Copywrite not copypwrite © <script type="text/javascript">
  document.write(new Date().getFullYear());
</script></p>
    </div>
  </div>
</footer>