<div id="info" class="row">
    <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="assets/img/usability-run-course-map.jpg">
    </div>
    <div class="medium-6 columns medium-pull-6">
        <h2>ASPECT RATIO CITY TOUR</h2>
        <p>The Usability Run, also known as the most aesthetically pleasing race on the planet, is a unique geek race that celebrates familiarity, memorability, and intuitive design. Meet at the start line and be guided through the course by carefully crafted signage. The Usability Run Contrast Ratio City Tour is bringing a 5k, 10k and Half-Marathon straight to Erie, PA with a sweet Usability Zone on course, all-new Gamification Beach at the Finish Festival, and a fresh user-centric participant kit.</p>
    </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        <h3>5K Run/Walk</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam
            mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
    <div class="medium-4 columns">
        <h3>10K Race</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam
            mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
    <div class="medium-4 columns">
        <h3>Half-Marathon</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam
            mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
    </div>
</div>