<div class="title-bar show-for-small-only" data-responsive-toggle="main-menu" data-hide-for="medium">
  <span><a href="index.html"><strong>Usability Run<strong></a></span>
  <button class="menu-icon float-right" type="button" data-toggle></button>
  <div class="title-bar-title float-right">Menu </div>
</div>
<div class="top-bar" id="main-menu">
  <div class="top-bar-title" >
    <ul class="menu show-for-medium" data-dropdown-menu>
      <li><a href="index.html"><strong>Usability Run</strong></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu show-for-medium" data-dropdown-menu>
      <li><a href="#">Information</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="register.html">Register</a></li>
    </ul>
    <div class="menu-centered show-for-small-only">
      <ul class="menu vertical" data-dropdown-menu>
        <li ><a href="#">Information</a></li>
        <hr>
        <li><a href="#">Contact Us</a></li>
        <hr>
        <li><a href="#">Register</a></li>
      </ul>
  </div>
  </div>
</div>
