<div class="row column">
    <h3>Our Sponsors</h3>
</div>
<div class="row">
    <div id="sponsor" class="large-2 medium-4 small-6 columns">
            <img src="assets/img/sponsors/logo-android-developer.png">
    </div>
    <div id="sponsor" class="large-2 medium-4 small-6 columns">
            <img  src="assets/img/sponsors/logo-apple-developer.png">
    </div>
    <div id="sponsor" class="large-2 medium-4 small-6 columns">
         <img src="assets/img/sponsors/logo-foundation_by_zurb.png">
    </div>
    <div id="sponsor" class="large-2 medium-4 small-6 columns">
            <img src="assets/img/sponsors/logo-github.png">
    </div>
    <div id="sponsor" class="large-2 medium-4 small-6 columns">
            <img src="assets/img/sponsors/logo-linux-foundation.png">
    </div>
        <div id="sponsor" class="large-2 medium-4 small-6 columns">
                <img src="assets/img/sponsors/logo-travis-ci.png">
        </div>
</div>